.coffee {
  max-width: 290px;
  float: right;
}
.coffee p {
  margin: 0.5rem 0.5rem 1rem 1rem;
  line-height: 1.4;
}
.image-full {
  max-width:100%;
}

pre[class*="language-"] {
  margin: .5em 0 1em;
}