---
title: Search Page
layout: default
permalink:
  search: /search/
---

<header>
  <h2>{{ title }}</h2>
</header>
{% raw %}
  <div id="app">
    <input v-model="search" type="search">
    <button @click="doSearch">Search</button>
    <div v-if="results">
      <h3>Results</h3>
      <p v-for="result in results">
        <a :href="result.url">{{ result.title }}</a>
      </p>
    </div>
  </div>
{% endraw %}